.response {
    min-height: 947px;
    padding-bottom: 71px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 100px;
        &:nth-child(2){
            margin-top: 70px;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__text {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__title {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        // line-height: normal;
        text-align: left;
    }
    &__subtitle {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        text-align: left;
        margin-top: 10px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        text-align: left;
        margin-top: 19px;
    }
}
  
